/* CSS Document */

BODY {color: black;
	background: #FFFFFF;
	font-size: 9pt;
	font-family: Arial;
	background-color: #EEEEEE;}
	
  .SectionHeader {font-size: 20px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, Georgia, serif;}
  .SubSection {font-size: 16px;
	font-weight: bold;
	font-family: Georgia"Times New Roman", Times, Georgia, serif;}
  .SubSubSection {font-size: 14px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, Georgia, serif;}
  .Body {font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;}
  .TableContent {font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;}
  .TableLabel{
	font-size: 14px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-position: center;
	text-align: center;
}
.default {	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
}
.Code {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
}
.QUESTION {
	font-weight: bold;
	color: #FF0000;
}