.classpath
.project
pom.xml.versionsBackup
/build
.settings
.mymetadata
/maven-user-settings.xml
.deployment
/.development/
/.fbprefs
/build.properties
/build.properties-local
/config/local/
rsync.sh
**/target
.externalToolBuilders
maven-eclipse.xml
.checkstyle
.pmd
.pmdruleset
*.iml
.idea
/main/appserver/appclient/client/acc-config/temp/*
/main/appserver/security/jaspic-provider-framework/auth.conf
/main/appserver/packager/pkg_conf.py

