body {
  background: white;
}

h1, h2, h3 {
  font-family: arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 207%;
}

h2 {
  font-size: 173%;
}

h3 {
  font-size: 144%;
}

p.copyright {
  color: green;
  font-style: italic;
}