<rules>

<rule role="Observer" action="approve"/>

<rule role="Project Owner" action="deny">

I'm sorry, but we can't accept your project owner request.

</rule>

<rule role="Developer, Content Developer" action="talk">

Subject: your ${role} role in the ${project} project
From: woodjr@dev.java.net
Reply-To: contributors@glassfish-core.dev.java.net
To: ${user}@dev.java.net
CC: contributors@glassfish-core.dev.java.net

Hello ${user} ,

Thank you for requesting the ${role} role for the ${project} project.  In order to continue our review process and consideration, it would be helpful if you could provide us with some additional details about yourself :

- Why do you want to become a developer for GlassFish project?
- Tell us more about yourself including any open source development experience.
- What areas are you interested in? Have you already had contacts with existing developers in those areas?
- Have you submitted any patches or bug fixes to GlassFish project already? If yes, issue id and patch details?

The first step to becoming a developer (contributing code or submitting a patch) is to sign and return Sun's Contributor Agreement (SCA). This is necessary so Sun can include your contribution in places like the Java EE RI. Please refer to https://glassfish.dev.java.net/public/GovernancePolicy.html for more info on SCA and GlassFish Roles\Governance questions you might have.

We look forward to hearing from you at your earliest convenience so we can continue our evaluation of your role request.

Regards, 
Jamey Wood

</rule>

</rules>

