/* CSS Document */

BODY
{
	color: black;
	background: #FFFFFF;
	font-size: 9pt;
	font-family: Arial;
	background-color: #CCCCCC;
}
	
  .Title {font-size: X-Large;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, Georgia, serif;
	text-align: center
	}
	
  .SectionHeader {font-size: large;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, Georgia, serif;
	text-align: left;}
  .SubSection {font-size: medium;
	font-weight: bold;
	font-family: Georgia"Times New Roman", Times, Georgia, serif;
	text-align: left;}
  .SubSubSection {font-size: medium;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, Georgia, serif;
	text-align: left;}
	
  .TableOfContents1
  {
  	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
  }
  
  .Default
  {
  	font-size: small;
	font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .Body
  {
  	font-size: small;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: justify;
  }
  
  .TableContent {
  	font-size: small;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: left;
	}
	
  .TableLabel{
	font-size: small;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-position: center;
}

.Code {
	font-family: "Courier New", Courier, monospace;
	font-size: small;
	text-align: left;
}

.QUESTION_TO_BE_DONE {
	font-weight: bold;
	font-color: #FF0000;
}

.FAQ-Question {
	font-family: Georgia, "Times New Roman", Times, Georgia, serif;
	font-weight: bold;
}

.FAQ-Answer {
	font-family: Georgia, "Times New Roman", Times, Georgia, serif;
}